.blog {
    align-content: start;
    display: grid;
    grid-template-columns: minmax(280px, 1fr) minmax(280px, 1fr) 300px;
    grid-template-areas:
        "esquerda centro sidenav";
    gap: 10px;
}

.col-esquerda {
    align-self: start;
    grid-area: esquerda;
}

.col-direita {
    grid-area: centro;
}

.publicacao-item {
    background-color: var(--white-02);
    margin-bottom: 10px;
}

.publicacao-texto {
    padding: 20px;
}

.publicacao-texto h2 {
    color: var(--black-02);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    margin-bottom: 20px;
}

.publicacao-texto p {
    color: var(--black-02);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-12);
    letter-spacing: -0.5px;
    line-height: 17px;
    margin-bottom: 20px;
}

.publicacao-texto a {
    font-size: var(--small-12);
    letter-spacing: 1px;
    padding: 8px 20px;
}

.sidenav {
    align-self: start;
    grid-area: sidenav;
}

@media screen and (max-width: 800px) {
    .blog {
        grid-template-columns: minmax(280px, 1fr) minmax(280px, 1fr);
        grid-template-areas:
            "esquerda centro"
            "sidenav sidenav"
    }
}

@media screen and (max-width: 600px) {
    .blog {
        grid-template-columns: minmax(280px, 1fr);
        grid-template-areas:
            "esquerda"
            "centro"
            "sidenav"
    }
}