.blog {
    align-content: start;
    display: grid;
    grid-template-columns: minmax(280px, 1fr) minmax(280px, 1fr) 300px;
    grid-template-areas:
        "esquerda centro sidenav";
    gap: 10px;
}

.col-esquerda {
    align-self: start;
    grid-area: esquerda;
}

.col-direita {
    grid-area: centro;
}

.publicacao-item {
    background-color: var(--white-02);
    margin-bottom: 10px;
}

.publicacao-texto {
    padding: 20px;
}

.publicacao-texto h2 {
    color: var(--black-02);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    margin-bottom: 20px;
}

.publicacao-texto p {
    color: var(--black-02);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-12);
    letter-spacing: -0.5px;
    line-height: 17px;
    margin-bottom: 20px;
}

.publicacao-texto a {
    font-size: var(--small-12);
    letter-spacing: 1px;
    padding: 8px 20px;
}

.sidenav {
    align-self: start;
    grid-area: sidenav;
}

.sidenav-bg {
    background-color: var(--black-02);
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}

.pesquisa {
    display: flex;
    position: relative;
    width: 100%;
}

.pesquisa input#search {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-10);
    font-style: italic;
    padding: 10px;
}

.pesquisa input#pesquisarButton {
    background: rgba(0, 0, 0, 0) url("../../images/pesquisar.png") no-repeat scroll center center;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    height: 20px;
    outline: none;
    position: absolute;
    right: 0;
    top: 10px;
    text-indent: -99999px;
    width: 20px;
}

.lista-titulo {
    color: var(--white-02);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: var(--medium-18);
    letter-spacing: -0.5px;
    line-height: 18px;
    margin-bottom: 10px;
}

.lista-blog {
    list-style-image: url("../../images/aside-arrow.png");
    list-style-position: inside;
    opacity: 0.9;
}

.lista-blog li {
    border-bottom: 1px solid var(--black-04);
}

.lista-blog li a {
    color: var(--white-03);
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-12);
    vertical-align: baseline;
    padding: 10px 0;
    transition: all 0.15s ease 0s;
}

.lista-blog li a:hover {
    padding-left: 10px;
}

@media screen and (max-width: 800px) {
    .blog {
        grid-template-columns: minmax(280px, 1fr) minmax(280px, 1fr);
        grid-template-areas:
            "esquerda centro"
            "sidenav sidenav"
    }
}

@media screen and (max-width: 600px) {
    .blog {
        grid-template-columns: minmax(280px, 1fr);
        grid-template-areas:
            "esquerda"
            "centro"
            "sidenav"
    }
}