.principal {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../images/bg21.jpg") no-repeat center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    height: 575px;
    text-align: center;
    width: 100%;
}

.principal :is(.principal-titulo, .principal-paragrafo) {
    letter-spacing: -1px;
}

.principal-titulo {
    color: var(--white-02);
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: italic;
    font-size: var(--big-58);
    line-height: 65px;
    margin-bottom: 10px;
}

.principal-img {
    margin-bottom: 10px;
}

.principal-paragrafo {
    color: var(--white-01);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--medium-22);
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .principal {
        height: 300px;
    }

    .principal-titulo {
        font-size: var(--medium-22);
    }

    .principal-paragrafo {
        font-size: var(--small-14);
    }
}