html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: url("../../images/bg1.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

iframe {
    height: 100%;
    width: 100%;
}