:root {
    --black-01: #111111;
    --black-02: #333333;
    --black-03: #323232;
    --black-04: #444444;
    --brown-01: #7b5b4b;
    --brown-02: #483a32;
    --brown-03: #1b1919;
    --brown-04: #5e4b41;
    --white-01: #ffffff;
    --white-02: #f4f4f4;
    --white-03: #eeeeee;
    --white-04: #f6f6f6;
    --white-05: #dddddd;
    --yellow-01: #fcb900;
}