.content {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 2%;
    width: 100%;
}

.flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.btn-principal {
    border: 2px solid rgba(255, 255, 255, .7);
    color: var(--white-02);
    display: inline-block;
    font-size: var(--small-12);
    letter-spacing: 5px;
    line-height: 15px;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    text-transform: uppercase;
    transition: .3s;
    z-index: 1;
}

.btn-principal::before {
    background-color: var(--brown-01);
    content: "";
    display: block;
    height: 300%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: .5s ease;
    width: 0;
    z-index: -1;
}

.btn-principal:hover::before {
    width: 100%;
}

.relative {
    position: relative;
}

/* Card da galeria */
.galeria-card {
    background-color: var(--brown-02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.galeria-card :is(span, h2, li, p) {
    color: var(--white-01);
}

.card-span {
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-10);
    font-weight: 100;
    font-style: italic;
    line-height: 10px;
    text-transform: uppercase;
}

.card-titulo {
    font-family: 'Playfair Display', serif;
    font-size: var(--medium-22);
    font-weight: 700;
    font-style: italic;
    letter-spacing: -0.5px;
    line-height: 25px;
    margin: 20px 0;
}

.galeria-card li {
    display: flex;
    font-size: var(--small-14);
    justify-content: space-between;
    line-height: 18px;
    max-width: 200px;
}

.galeria-card li span {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.galeria-card-paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-14);
    margin-bottom: 10px;
}

.lista-servicos {
    list-style-type: square;
    list-style-position: inside;
}

.lista-servicos li {
    font-style: italic;
    margin-bottom: 5px;
}

/* Patterns Button */
.btn-padrao {
    background-color: var(--brown-04);
    border-radius: 20px;
    color: var(--white-02);
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-14);
    letter-spacing: 6px;
    line-height: 20px;
    overflow: hidden;
    padding: 14px 28px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}

.btn-padrao::before {
    background-color: var(--brown-03);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: all .5s;
    width: 100%;
    z-index: -1;
}

.btn-padrao:hover::before {
    transform: translateX(0);
}

/* overlay */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    transition: .7s ease;
    width: 100%;
    z-index: 2;
}

.card-overlay {
    color: var(--white-01);
    opacity: 0;
    padding: 20px 10px;
}

.card-overlay-titulo {
    border-bottom: 1px solid var(--white-02);
    display: flex;
    font-style: italic;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-bottom: 5px;
    width: 100%;
}

.card-overlay-titulo p {
    font-family: 'Playfair Display', serif;
    line-height: 16px;
}

.card-overlay-titulo span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: var(--small-12);
    line-height: 16px;
}

.card-overlay-descricao {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-14);
    line-height: 20px;
    margin-bottom: 10px;
}

.card-overlay-ingredientes {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-12);
    font-style: italic;
    line-height: 18px;
}

/* sidenav */
.sidenav-bg {
    background-color: var(--black-02);
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}

.pesquisa {
    display: flex;
    position: relative;
    width: 100%;
}

.pesquisa input#search {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-10);
    font-style: italic;
    padding: 10px;
}

.pesquisa input#pesquisarButton {
    background: rgba(0, 0, 0, 0) url("../../images/pesquisar.png") no-repeat scroll center center;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    height: 20px;
    outline: none;
    position: absolute;
    right: 0;
    top: 10px;
    text-indent: -99999px;
    width: 20px;
}

.lista-titulo {
    color: var(--white-02);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: var(--medium-18);
    letter-spacing: -0.5px;
    line-height: 18px;
    margin-bottom: 10px;
}

.lista-blog {
    list-style-image: url("../../images/aside-arrow.png");
    list-style-position: inside;
    opacity: 0.9;
}

.lista-blog li {
    border-bottom: 1px solid var(--black-04);
}

.lista-blog li a {
    color: var(--white-03);
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--small-12);
    vertical-align: baseline;
    padding: 10px 0;
    transition: all 0.15s ease 0s;
}

.lista-blog li a:hover {
    padding-left: 10px;
}

@media screen and (max-width: 800px) {

    .card-overlay {
        opacity: 1;
    }
}